body {
    max-width: 1900px;
    font-family: sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
    
}
.nav-menu {
    background-color: #F2F2F2;
}
.main-menu {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #313131;
    align-items: center;
}

.menu-logo {
    display: flex;
}
.main-item {
    display: flex;
}
.main-menu-link {
    font-weight: 600;
font-size: 15px;
line-height: 20px;
margin-right: 35px;
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
}
.main-menu-link:hover {
    color: #14B9D5;
}
.logo-img {
    margin: 0 27px;
}

.logo-text {
    font-size: 22px;
line-height: 30px;
color: #ffffff;
}
.search {
padding: 26px;
background-color: #000000;
}

.header-bg {
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 369px;
}
.bg-item {
    text-align: center;
    padding-top: 164px;

}
.title-text {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #ffffff;
}
.botton-item {
    margin-top: 44px;
    display: flex;
    justify-content: center;
}
.botton-sub {
    display: flex;
    justify-content: center;
    height: 55px;
    padding: 0 19px;
    background-color: #89CA62;
    margin-right: 20px;
    border-radius: 4px;
    align-items: center;
    text-decoration: none;
}
.botton-best {
    display: flex;
    justify-content: center;
    height: 55px;
    padding: 0 30px;
    background-color: #14B9D5;
    margin-right: 20px;
    border-radius: 4px;
    align-items: center;
    text-decoration: none;
}


.botton {
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    text-decoration: none;
    
}




.section-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    margin: 50px;
    text-align: center;
    color: #18B4CF;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 1030px;
    
    
   

}
.post-card {
    margin: 15px;
    background-color: #ffffff;
    

}
.post-card-img {
    width: 100%;
}


.post-card-text {
    padding: 20px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: center;
}


.grid-menu {
    height: 588px;
    background-image: url("../img/grid-bg.jpg");
    background-repeat: no-repeat;
        background-size: cover;
        
}

.main-title {
    position: relative;
    text-align: center;
    font-weight: bold;
font-size: 32px;
line-height: 44px;
padding-top: 106px;
text-transform: uppercase;
color: #ffffff;
}
.main-title::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    position: absolute;
    left: 920px;
    top: 239px;
}


.container {
    display: grid ;
    grid-auto-flow: column;
    justify-content: center;
    gap: 58px;
    padding-top: 197px;
    
    
}
.top-rate-title {
    text-align: center;
    margin: 50px 0;
    font-weight: bold;
font-size: 27px;
line-height: 37px;
text-transform: uppercase;
color: #18B4CF;
}

.top-rate-item {
    display: grid;
    grid-auto-flow: column;
}
.hot-news {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    max-width: 1170px;
    margin: 0 auto;
    row-gap: 45px;
    

}
.hot-news-01 {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    background: #F9F7F7;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
 
}

.hot-news-02 {
    background: #F9F7F7;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
margin-left: 35px;
}

.hot-news-03 {
    grid-column: 1 / 3;
    background: #F9F7F7;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
margin-right: 60px;
}
.hot-news-04 {
    grid-column: 3 / 5;
    background: #F9F7F7;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.hot-news-05 {
    grid-column: 1 / 3;
    background: #F9F7F7;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
margin-right: 60px;
}
.hot-news-06 {
    grid-column: 3 / 5;
    background: #F9F7F7;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.hot-news-07 {
    background: #F9F7F7;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.hot-news-08 {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: repeat(2, auto);
    background: #F9F7F7;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    align-items: center;
    margin-left: 35px;
}
.hot-title {
    font-weight: bold;
font-size: 18px;
line-height: 25px;
color: #353A3D;
text-align: right;
padding: 15px;

}
.hot-card-title {
    font-weight: bold;
font-size: 18px;
line-height: 25px;
color: #353A3D;
padding-top: 15px;
text-align: center;

}
.hot-text {
    font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #5B6469;
text-align: right;
padding: 0 15px;
}

.end-page {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    height: 80px;
    margin-top: 71px;
    padding: 0 360px;
    align-items: center;
    background-color: #000;
}
.footer-text {
    font-size: 13px;
line-height: 13px;
color: #ffffff;
}
.footer-logo-text {
    font-size: 18px;

    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;

}
.footer-logo {
    display: grid;
    grid-auto-flow: column;
    
}


