* {
    /*m0+p0*/
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.container {
    max-width: 1280px;
    margin: 0 auto;
}



.nav-menu {
    margin: 0 330px;
    padding: 25px 0;
display: flex;
justify-content: space-between;


}

.nav-menu-item {
    display: inline-block;
 

}


.nav-menu-link {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    text-decoration: none;
    color: #FF0000;
}

.content-item {
    text-align: center;



}
.content-title {
    margin-top: 48px;
    margin-bottom: 38px;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;

}
.content-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    padding-bottom: 28px;
    margin: 0 68px;
    color: #373737
}
.content-buttom {
    display: inline-block;
    text-decoration: none;
    margin-top: 38px;
    margin-bottom: 42px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    padding: 18px 43px;
    background-color: #FF0000;
    color: #ffff;
    border-radius: 4px;
    border: none;



}

.post {
    text-align: right;
    padding-bottom: 29px;
    padding-right: 105px;
    padding-top: 40px;

}
.post-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #373737;
    letter-spacing: 2.4px;
}