@font-face {
    font-family: "Monsterrat";
    src: url(../font/montserrat.ttf);
    font-style: normal;
    font-weight: normal;


}

body {
    font-family: "Monsterrat";
    min-width: 1200px;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}




.nav {
    top: 0;
    width: 100%;
    
}

.navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}

.nav-bar-logo {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    padding-right: 300px;
    text-decoration: none; 
}


.logo-letter {
    top: 18px;
    left: 14px;
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #ffffff;
}
.logo-name {
    font-size: 32px;
    line-height: 48px;
    padding-left: 6px;
    color: #ffffff;
}
.nav-bar {
    display: flex;
    align-items: center;
    
}

.nav-bar-menu {
    display: flex;
    align-items: center;

}
.nav-bar-link {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 21px;
    position: relative;
    
}
.nav-bar-link:hover {
    color: #18CFAB;
}
.nav-bar-link:hover::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #18CFAB;
    position: absolute;
    left: 0;
    bottom: -51px;
    
}


.home-page {
    min-width: 100vh;
    min-height: 100vh;
    background-image: url(../img/Sections-background/section-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.main-page {
    padding-top: 264px;
    text-align: center;
    
}

.page-title-1 {
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 22px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
}
.page-title-2 {
    font-weight: bold;
    font-size: 78px;
    padding-bottom: 22px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
}
.page-title-3 {
    font-size: 34px;
padding-bottom: 22px;
color: #D4D4D4;
letter-spacing: 1px;
}


.page-button {
    display: flex;
    justify-content: center;
    margin-top: 129px;
        
}
.button {
    width: 168px;
    height: 64px;
    margin-right: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 241px;
    box-shadow: 0 -5px #ffffff;
    text-transform: uppercase;

    
}
.explore {
    background-color: #18CFAB;
}
.purchase {
    background-color: #00CBF6;
}


.options-menu{
    display: grid;
    grid-auto-flow: column;
    height: 377px;
    text-align: center;
    margin-top: 8px;

    
    

}
.options-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme {
    background-color: #1C2A33;
}
.custom {
    background-color: #18CFAB;
}
.support {
    background-color: #1C2A33;
}
.responsive {
    background-color: #18CFAB;
}
.options-link {
    text-decoration: none;
    color: #ffffff;
}
.options-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    padding-top: 47px;
}
.options-img {
    height: 100px;
}
.services {
    margin-bottom: 91px;
}
.services-title {
    margin-top: 83px;
    margin-bottom: 101px;
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    color: #4E4E4E;
    text-align: center;
    position: relative; 
}
.services-title::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    bottom: -35px;
    left: 550px;
}
.services-title::before {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    bottom: -30px;
    left: 530px;
}    
 

.services-menu-item {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    width: 100%;
     
}
.services-chapter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15.9859px;
    line-height: 39px;
    height: 72px;
    color: #717171;
    margin-bottom: 27px;
    user-select: none
}
.services-chapter:hover {
    border: 1px solid #18CFAB;
}


.services-content {
    display: none;
    justify-content: space-between;
    margin-bottom: 91px;
}
.visible {
    display: flex;
}
.content-text {
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
    padding-left: 15px;
}
.active {
    background-color: #18CFAB;
    color: #ffffff;
    position: relative;
    
}
.active::after {
    content:"";
    border-style: solid;
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left:-10px;
    border-width: 10px 12.5px 0 12.5px;
    border-color: #18CFAB transparent transparent transparent;
}
.purchase-page {
    min-width: 100vh;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/Sections-background/section-2.jpg);
    overflow: hidden;
}

.purchase-item {
    text-align: center;
    margin-bottom: 67px;
}

.purchase-title {
    padding-top: 127px;
    padding-bottom: 15px;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    color: #18CFAB;
}
.purchase-text {
    font-size: 12px;
    line-height: 40px;
    color: #D8D8D8;
}
.purchase-button {
    display: flex;
    justify-content: center;
}

.work {
    background-color: #E9EDEF;
}
.work-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.work-title {
    padding-top: 96px;
    margin-bottom: 111px;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    color: #4E4E4E;
    position: relative;
}
.work-title::before {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    bottom: -30px;
    left: 530px;
}
.work-title::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    bottom: -35px;
    left: 550px;
}
.work-item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-bottom: 70px;
}
.work-content-item:hover {
    content: url(../img/rectangle/hover.svg);
}
.work-link {
    font-size: 14px;
    line-height: 42px;
    padding: 15px;
    border: 1px solid #DADADA;
    color: #717171;
    user-select: none;
}
.main {
  padding: 15px 0;
  width: 79px;
  display: flex;
  justify-content: center;

}
.work-link:hover {
    border-color: #18CFAB;
}

.work-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.work-content-item {
    display: block;
    
}
.load-more {
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    border-radius: 5px;
    border-style: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 99px;
}
.load-more::before {
    content: url(../img/rectangle/forma1.svg);
    padding-right: 15px;
}
.hide {
    display: none;
}
.breaking-news {
    margin-bottom: 129px;
}
.news-title {
    font-size: 36px;
    line-height: 40px;
    margin-top: 82px;
    margin-bottom: 100px;
    color: #4E4E4E;
    text-align: center;
    position: relative;
}
.news-title::before {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    bottom: -30px;
    left: 530px;
}
.news-title::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    bottom: -35px;
    left: 550px;
}
.news-link {
    text-decoration: none;
}

.news-card {
    position: relative;
    
    
}
.news-date {
    position: absolute;
    left: 193px;
    width: 70px;
    height: 69px;
    background-color: #203E38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    
    
    
}
.img-date {
    padding-bottom: 10px;
    font-size: 16px;
line-height: 25px;
}
.card-title {
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
}
.news-info {
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
    display: flex;
}
.card-info {
    padding-left: 20px;
}

.name::after {
    content: "";
    padding-right: 1px;
    height: 10px;
    background-color: #777777;
    margin-left: 10px;
    
}
.comment {
    padding-left: 10px;
}
.news-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 43px 35px;
}
.news-link:hover .news-date {
    background-color: #18CFAB;
    
}
.news-link:hover .card-title {
    color: #18CFAB;
    padding-left: 5px;
}
.feedback {
    min-width: 100vh;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-image: url(../img/Sections-background/section-3.jpg);

}
.feedback-title {
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    margin-top: 98px;
    position: relative;
}
.feedback-title::before {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    bottom: -30px;
    left: 530px;
}
.feedback-title::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    bottom: -35px;
    left: 550px;
}
.shape {
    text-align: center;
    margin-top: 99px;
}

.slick-list {
    overflow: hidden;
    
}

.slick-track {
    display: flex;
    
}



.slider {
    position: relative;
    padding: 0 50px;
    width: 620px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
      
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    margin-top: -20px;
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;

}
.slider .slick-arrow.slick-arrow.slick-prev {
    left: 0;
    background: url(../img/rectangle/prev.svg) 50% 50% no-repeat;

}
.slider .slick-arrow.slick-arrow.slick-next {
    right: 0;
    background: url(../img/rectangle/next.svg) 50% 50% no-repeat;

}
.slider .slick-arrow.slick-arrow.slick-prev:hover {
    background: url(../img/rectangle/prev-hover.svg) 50% 50% no-repeat;
    background-color: #18CFAB;
    border: none;
}
.slider .slick-arrow.slick-arrow.slick-next:hover {
    background: url(../img/rectangle/next-hover.svg) 50% 50% no-repeat;
    background-color: #18CFAB;
    border: none;
}

.slider-item {
    text-align: center;
}
.main-slider-item {
    text-align: center;
}
.slide-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
}
.slide-position {
    font-size: 12px;
    line-height: 27px;
    color: #BBBBBB;
    margin-bottom: 50px;
}
.feedback-text {
    padding-top: 66px;
    padding-bottom: 37px;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
}
.slide-img {
    width: 142px;
    height: 142px;
    margin-bottom: 50px;
    border: 12px solid rgba(31, 218, 181, 0.2);
    border-radius: 100%;
}
.img-border {
    border: 6px solid rgba(31, 218, 181, 0.2);
    border-radius: 100%;
}


.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #22353F;
    color: #AEAEAE;
    font-size: 14px;
    line-height: 26px;
}
.copy {
    padding-right: 15px;
}
.copy::after {
    content: "";
    padding-right: 1px;
    height: 9px;
    background-color: #777777;
    margin-left: 10px;
}








.color-text {
    color: #18CFAB;
}