body {
    font-family: 'roboto', sans-serif;
    overflow-x: hidden;
    
}
.page-bg {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.main-page {
    max-width: 1030px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}
.logo-item {
    margin-top: 51px;
    margin-bottom: 20px;
}
.logo-item:hover .logo-name {
    color: #F26522;
    
}
.logo-item:hover .logo-img {
    content: url(../img/logo02.png);
}
.logo-link {
    display: flex;
    text-decoration: none;
}
.logo-name {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-left: 8px;
font-size: 29px;
line-height: 29px;
color: #FFFFFF;

}
.second-logo-name {
    font-weight: bold;
font-size: 18px;
line-height: 18px;

}
.contact-info {
    display: flex;
    flex-direction: column;
    margin-top: 46px;
}
.contact-item:first-child {
    margin-bottom: 19px;
}
.email:hover {
    color: #F26522;
}
.tel:hover {
    color: #F26522;
}
.contact-item {
    font-size: 18px;
line-height: 18px;
color: #FFFFFF;
text-decoration: none;
text-align: right;
}
.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 37px;
    column-gap: 61px;
}
.content-card:hover .card-text {
    color: #F26522;
}


.card-link {
    width: 300px;
    height: 220px;
    text-decoration: none;
}
.card-item {
    position: relative;
    overflow: hidden;

}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card-info {
    display: flex;
    justify-content: space-between;
    background: #F26522;
    position: absolute;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 12px;
    padding-left: 16px;
}
.card-link:hover .card-info {
    bottom: 0;
    transform: scale(1);
}


.details-text {
    font-size: 10px;
line-height: 10px;
color: #FFFFFF;
margin-bottom: 8px;
}
.details-price {
    font-size: 20px;
line-height: 20px;
color: #FFFFFF;
}
.card-more-details {
    margin-right: 37px;
    margin-top: 22px;
    font-size: 14px;
line-height: 14px;
color: #FFFFFF;
}

.card-more-details::after {
    content: url(../img/Vector\ .png);
    margin-left: 16px;
}
.card-text {
    font-size: 18px;
line-height: 18px;
color: #FFFFFF;
padding-top: 20px;
text-align: center;
    
}

.page-footer {
    margin-top: 49px;
}
.footer-text {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    padding-bottom: 15px;
    color: #FFFFFF;
}
