@font-face {
    font-family: ubuntu;
    src: url(../font/ubuntu.ttf);
    font-style: normal;
    font-weight: normal;
    }

body {
    font-family: ubuntu;
}



.page-bg {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 18px 79px;
    background: rgba(0, 0, 0, 0.4);
}
.nav-bar-text {
    font-weight: bold;
    font-size: 22px;
line-height: 22px;
color: #ffffff;
text-decoration: none;

}
.nav-bar-text:hover {
    color: #3CB878;
}
.nav-bar-item {
    display: flex;
}
.nav-bar-link {
    text-decoration: none;
}
.nav-bar-logo {
    margin-right: 25px;

}

.login-menu {
    display: flex;
    align-items: center;
}
.login-item::before {
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    font-size: 19px;
    margin-right: 27px;
}
.login-item {
    color: #ffffff;
    font-size: 14px;
line-height: 14px;
}
.login-item-link {
    text-decoration: none;
    color: #ffffff;
}

.nav-bar-logo:hover .calendar-svg {
    fill: #3CB878;
}
.nav-bar-logo:hover .mail-svg {
    fill: #3CB878;
}
.nav-bar-logo:hover .navigation-svg {
    fill: #3CB878;
}
.login:hover {
    color: #3CB878;
}
.signup:hover {
    color: #3CB878;
}


.registration-section {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 444px;
}
.reg-section {
    padding: 31px 60px 38px;
    background: #FFFFFF;
    position: relative;
}
.reg-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reg-bar-signup {
    font-size: 20px;
line-height: 20px;
color: #434343;

}
.reg-bar-signup:before {
    content: "";
    padding: 9px;
    font-size: 0;
    background: #3CB878;
    position: absolute;
    left: 0;
}
.reg-bar-login {
    text-decoration: none;
    font-size: 14px;
line-height: 14px;
color: #3CB878;
}
.reg-bar-login:hover {
    text-decoration: underline;
    color: #01813F;
}
.reg-button {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}


.facebook-button {
    display: flex;
    padding: 10px 22px 10px 16px;
    background-color: #305DB8;
    border-radius: 4px;
}
.google-button {
    display: flex;
    padding: 10px 27px 10px 12px;
    background-color: #DF4A32;
    border-radius: 4px;
}
.button-link {
    text-decoration: none;
}
.facebook-text {
    display: flex;
    align-items: center;
    font-size: 16px;
line-height: 16px;
color: #ffffff;
}
.facebook-logo-item::after {
    content: "";
    border: 1px solid #0A162F;
opacity: 0.1;
font-size: 28px;
margin: 0 18px;
}
.google-text {
    display: flex;
    align-items: center;
    font-size: 16px;
line-height: 16px;
color: #ffffff;

}
.google-logo-item::after {
    content: "";
    border: 1px solid #0A162F;
opacity: 0.1;
font-size: 28px;
margin-right: 30px;
margin-left: 7px;
}
.facebook-button:hover {
    background-color: #022263;
}
.google-button:hover {
    background-color: #AB1F09;
}

.form-section-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 11px;
    font-size: 14px;
line-height: 14px;
color: #848484;

}
.form-section-text::before {
    content: "";
    border-bottom: 1px solid #F2F2F2;
    width: 100%;   
}

.form-section-text::after {
    content: "";
    border-bottom: 1px solid #F2F2F2;
    width: 100%;
}


input {
    outline: none;
    font-family: ubuntu;
    font-size: 14px;
line-height: 14px;
color: #434343;
}


.reg-form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


.reg-form-field {
    padding: 15px 0 15px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    
}
.reg-form-field:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
::-webkit-input-placeholder {
    color:#BEBEBE;
    font-size: 14px;
line-height: 14px;
}
::-moz-placeholder {
    color:#BEBEBE;
    font-size: 14px;
line-height: 14px;
}
:-moz-placeholder {
    color:#BEBEBE;
    font-size: 14px;
line-height: 14px;
}
:-ms-input-placeholder {
    color:#BEBEBE;
    font-size: 14px;
line-height: 14px;
}

.reg-form-checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
line-height: 14px;
color: #434343;
}
.checkbox-item {
    margin-right: 8px;
}

.checkbox-link {
    font-size: 14px;
line-height: 14px;
color: #3CB878;
text-decoration: none;
}

.checkbox-link:hover {
    text-decoration: underline;
    color: #01813F;
}

.reg-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.reg-form-btn-item {
    text-decoration: none;
    background: rgba(60, 184, 120, 0.8);
border-radius: 4px;
width: 100%;
padding: 16px;
font-size: 16px;
line-height: 16px;
border: none;
color: #ffffff;
}

.reg-form-btn-item:hover {
    background: #01813F;
}



