* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
}



.logo {
    font-size: 80px;
    line-height: 94px;
    margin-top: 63px;
    margin-bottom: 38px;

}
.logo-text {
    text-decoration: none;
    color: #000000;
}
.logo-text:hover {
    text-decoration: underline;
    text-decoration-color: #3181A6;
}

.navigation-menu {
    background-color: #35444f;
    display: flex;
    justify-content: center;
}
    
.nav-menu {
    display: flex;

 
}
.nav-menu-item {
    width: 100%;
    border-left: 1px solid #ffffff;
    
}


.nav-menu-link {
    padding: 26px 30px 19px;
    white-space: nowrap;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
}



    
.menu {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;

}

.content-menu {
    margin-right: 52px;
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
}

.content-menu-item {
    margin-left: 44px;
    padding-top: 26px;
    padding-bottom: 25px;


}


.content-menu-link {
    text-decoration: none;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    
}



.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.main-menu {
    width: 100%;
    text-align: right;
}

.main-image {

    padding: 75px 268px;
    align-items: center;
    border: 1px solid #000000;
    
}

.main-text {
    margin-top: 37px;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;

}
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    margin-top: 54px;
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
}
.info-item {
    display: flex;
    

}

.info-item-link {
    padding-left: 40px;
    font-size: 28px;
    line-height: 28px;
    color: #0c1927;
    text-decoration: none;
}


.copyright {
    display: flex;
    
}
.copy-text {
    padding-right: 40px;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    text-align: right;
}








.colortext {
    color: #3181A6;
}