body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-weight: 700;
    background-color: #000000;
    overflow: hidden;

}


.content {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
    color: #ff6;

}
.content::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;

}
.page {
    position: absolute;
    top: 100%;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: #ff6;
    text-align: center;

}
.page-title {
    margin-bottom: 100px;
}

.page-text {
    text-align: left;
    margin-bottom: 50px;
    line-height: 70px;
    
}


@keyframes scroll {
        0% { top: 100%; }
        100% { top: -170%; }
    }
    

